
        <section>
          <div class="position-relative">
            <!-- Hero Image start here -->
            <div class="hero-image">
              <img src="assets/images/Header_image_main.jpg" class="img-fluid">
            </div>
            <!-- Hero Image end here -->
          </div>
        </section>
    
        <section class="container">
          <div class="row">
            <div class="col-12 col-md-8 text-center my-4 mx-auto">
              <h2 class="mb-3">About Us</h2>
              <p>Lorum hit ut estia nonet et excea dit ium verum re dendeliaspit fugiam que volor reperch iliqui blaut et
                as si dolor rae dendeliaspit fugiam que volor re dendeliaspit fug. Lorum hit ut estia nonet et excea dit
                ium verum re dendeliaspit fugiam que volor reperch iliqui blaut et as si dolor rae dendeliaspit fugiam que
                volor re fug.</p>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-12 col-sm-6 d-flex align-items-center">
              <h3 class="regular-weight">Latest News</h3>
            </div>
            <div class="col-12 col-sm-6 text-sm-right">
              <a href="#" class="btn btn-link mb-1 regular-weight font-size-1">See all</a>
            </div>
          </div>
        </section>
    
        <section class="container">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="card w-100 box-shadow border-0">
                <div class="card-img-top bg-light pl-4 pr-4 pt-4">
                  <img class="img-fluid" src="assets/images/galaxys91@2x.png" alt="Image in Card">
                </div>
                <div class="card-body pl-4 pr-4">
                  <h3 class="card-title text-dark mb-0">Telkom to offer new Huawei P20 series</h3>
                  <p class="mb-1"><small class="text-muted">2018-04-06</small></p>
                  <p class="card-text">Welcome to the new Huawei P20 series of devices. Including…</p>
                  <hr class="border-secondary border-width-2">
                  <button href="#" class="btn btn-primary w-100 p-3">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <div class="card w-100 box-shadow border-0">
                <div class="card-img-top bg-light pl-4 pr-4 pt-4">
                  <img class="img-fluid" src="assets/images/galaxys91@2x.png" alt="Image in Card">
                </div>
                <div class="card-body pl-4 pr-4">
                  <h3 class="card-title text-dark mb-0">Telkom to offer new Huawei P20 series</h3>
                  <p class="mb-1"><small class="text-muted">2018-04-06</small></p>
                  <p class="card-text">Welcome to the new Huawei P20 series of devices. Including…</p>
                  <hr class="border-secondary border-width-2">
                  <button href="#" class="btn btn-primary w-100 p-3">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <div class="card w-100 box-shadow border-0">
                <div class="card-img-top bg-light pl-4 pr-4 pt-4">
                  <img class="img-fluid" src="assets/images/galaxys91@2x.png" alt="Image in Card">
                </div>
                <div class="card-body pl-4 pr-4">
                  <h3 class="card-title text-dark mb-0">Telkom to offer new Huawei P20 series</h3>
                  <p class="mb-1"><small class="text-muted">2018-04-06</small></p>
                  <p class="card-text">Welcome to the new Huawei P20 series of devices. Including…</p>
                  <hr class="border-secondary border-width-2">
                  <button href="#" class="btn btn-primary w-100 p-3">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </section>
    
        <section class="container">
          <div class="row my-4">
            <div class="col">
              <div id="accordion" class="accordion-collapse border rounded faq-collapse my-4">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Company Information
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Procurement &amp; Tenders
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Regulatory
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Sponsorships &amp; Foundations
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                      <p>Telkom uses sponsorship to build the navbar-brand and connect emotionally with our stakeholders.
                        The Telkom Foundation was established in 1998 and registered as a trust in 2002 with the primary
                        objective of contributing to the transformation of disadvantaged communities through sustainable
                        social investment programmes.</p>
                      <a href="#" class="d-flex align-items-center font-weight-bold my-2">Telkom Knockout <i class="material-icons text-primary mb-1 ml-4">chevron_right</i></a>
                      <a href="#" class="d-flex align-items-center font-weight-bold my-2">Telkom PGA <i class="material-icons text-primary mb-1 ml-4">chevron_right</i></a>
                      <a href="#" class="d-flex align-items-center font-weight-bold my-2">Bandwidth Barn <i class="material-icons text-primary mb-1 ml-4">chevron_right</i></a>
                      <a href="#" class="d-flex align-items-center font-weight-bold my-2">Telkom Foundation Page <i class="material-icons text-primary mb-1 ml-4">chevron_right</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Life at Telkom
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Investor Relations
                      </button>
                    </h5>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Utility Relations
                      </button>
                    </h5>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                      <button class="btn btn-link h3 regular-weight mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Coporate Documents
                      </button>
                    </h5>
                  </div>
                  <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                      Pellentesque felis velit, aliquam eu mollis quis, aliquet ac ligula. Aenean sagittis fringilla augue.
                      Nullam vitae odio massa. Sed sed malesuada velit. Suspendisse dictum massa non lorem sodales commodo.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    
    
